@{

}
<html>
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <nav>
        <div class="nav-wrapper">
            <a href="~/Default.cshtml" class="brand-logo">a Special Day</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="~/codepagina.cshtml">Code</a></li>
                <li><a href="~/wenslijstvalidatie.cshtml">Wenslijst</a></li>
                <li><a href="~/registerpagina.cshtml">Register</a></li>
                <li><a href="~/loginpagina.cshtml">Login</a></li>

            </ul>
        </div>
    </nav>


    <div class="container">
        <h4 class="center-align">Wenslijst maken?</h4>
        <h5 class="center-align">Je moet eerst inloggen om uw wenslijst te bekijken/verwerken</h5>
        <h5 class="center-align "><a href="~/loginpagina.cshtml">Inloggen</a></h5>
        <br /><br />
        <h4 class="center-align">Nog geen account?</h4>
        <h5 class="center-align "><a href="~/registerpagina.cshtml">Registreren</a></h5>
        <br />
        <h4 class="center-align">Of wil je de wenslijst van een bruidspaar bekijken?</h4>
        <h5 class="center-align"><a href="~/codepagina.cshtml">Click hier om de code van uw bruidspaar in te voeren</a></h5>
    </div>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</body>
</html>